@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
header{
    margin: 47px 0px 15em 3%;
    display: flex;
    align-items: start;
}
.link-header{
    text-decoration: none;
    color: #17233D; 
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.875px;
    padding-right: 36px;
}
.button-signup{
    width: 126px;
    height: 51px;
    border: 1px solid #4CB538;
    color: #FFFFFF;
    background-color: #6FBF44;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 500;  
    border-radius: 6px;
    cursor: pointer;
}
.img-persons{
    width: 584px;
    display: inline-block;
}
h1{
    width: 582px;
    color: #161A49;
    font-size: 62px;
    font-weight: 700;
    line-height: 82px;
    letter-spacing: 0.596px;
}
.main-paragraph{
    width: 493px;
    color: #4B505A;
    font-size: 18px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.5px;
    margin: 47px auto 55px 0px;
}
.main-first{
    display: flex;
    flex-direction: column;
}
.button-learn{
    color: #6FBF44;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    border: none;
    background-color: #FFFFFF;
    cursor: pointer;
    margin-bottom: 5%;
}
.main-section{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
@media screen and (max-width: 900px){
    .main-first{
        height: 100vh;
        width: 100vw;
        overflow: hidden;
        margin: 0;
    }
    .img-persons{
        max-width: 90%;
        width: 100%;
    }
    h1{
        font-size: 40px;
        text-align: center;
        width: 350px;
        margin: auto;
    }
    main{
        margin-left: 10%;
        display: flex;
        flex-direction: column;
    }
    .main-paragraph{
        text-align: center;
        margin: 40px auto;
        width: 300px;
    }
    .main-section{  
        width: 100%;
    }
    header{
        margin: 0px;
        height: 50%;

    }
    .button-signup{
        width: 100px;
    }
}